.process-step-node {
  background-color: var(--mantine-color-blue-5);
}

.transport-system-node {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: var(--mantine-color-green-5);
  position: relative;
  top: -50px;
}

.transport-system-node:after {
  content: "";
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: var(--mantine-color-green-5);
}
